nav {
  margin: 10px 400px 0px 400px;
  background-color: white;
  font-size: 20px;
}

.left-menu {
  display: flex;
  width: 50%;
}

.right-menu {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  padding: 20px;
}

.horizontal-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(3, 3, 141);
  font-size: 15px;
  list-style: none;
  height: 50px;
}

.topic {
  text-decoration: none;
  color: white;
  padding: 0px 20px;
}

.topic:hover {
  background-color: white;
  color: black;
  padding: 20px;
}

.vertical-list {
  position: absolute;
  display: none;
  font-size: 15px;
  text-align: center;
}

.vertical-list li a:hover {
  color: white;
  background-color: rgb(3, 3, 141);
}

.vertical-list li a {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  margin-top: 10px;
  padding: 20px 15px 15px 20px;
  text-decoration: none;
  border: 1px solid black;
}

.main-li:hover .vertical-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 10px;
  padding-right: 20px;
}

select {
  width: 80px;
  height:25px;
  margin-right: 10px;
}

input {
  width: 240px;
  height: 25px;
  padding: 3px;
}
